In [ ]:
#Create a python program to print the below pattern using for loop as or while loop

In [ ]:
#a
1  
2 2  
3 3 3  
4 4 4 4  
5 5 5 5 5

In [8]:
x=1
while x<=5:
    y=1
    while y<=x:
        print(x,end='')
        y=y+1
    print('\n')
    x=x+1

1

22

333

4444

55555

In [7]:
#b1 
#1 2 
#1 2 3 
#1 2 3 4 
#1 2 3 4 5


x=1
while x<=5:
    y=1
    while y<=x:
        print(y,end='')
        y=y+1
    print('\n')
    x=x+1

1

12

123

1234

12345

In [ ]:
#c
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5

In [1]:
x=1
while x<=5:
    y=5
    while y>=x:
        print(x,end='')
        y=y-1
    print('\n')
    x=x+1

11111

2222

333

44

5

In [2]:
#d
#5 5 5 5 5 
#5 5 5 5 
#5 5 5 
#5 5 
#5



x=1
while x<=5:
    y=5
    while y>=x:
        print('5',end='')
        y=y-1
    print('\n')
    x=x+1

55555

5555

555

55

5

In [ ]:
#e
#0 1 2 3 4 5 
#0 1 2 3 4 
#0 1 2 3 
#0 1 2 
#0 1

In [19]:
x=5
while x>=0:
    y=0
    while y<=x:
        print(y,end='')
        y=y+1
    print('\n')
    x=x-1

012345

01234

0123

012

01

0

In [ ]:
#f
1 
3 3 
5 5 5 
7 7 7 7 
9 9 9 9 9

In [1]:
x=1
count=1
while x<=5:
    y=1
    while y<=x:
        print(count,end='')
        y=y+1
    count=count+2
    print('\n')
    x=x+1

1

33

555

7777

99999

In [ ]:
#g
#5 5 5 5 5 
#4 4 4 4 
33 3 3 
 2 
1

In [6]:
x=5
while x>=1:
    y=1
    while y<=x:
        print(x,end='')
        y=y+1
    print('\n')
    x=x-1

55555

4444

333

22

1

In [ ]:
#h
#1 
#2 1 
#3 2 1 
#4 3 2 1 
#5 4 3 2 1

In [15]:
x=1
while x<=5:
    y=x
    while y>=1:
        print(y,end='')
        y=y-1
    print('\n')
    x=x+1

1

21

321

4321

54321

In [ ]:
#i
#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1 
#1

In [1]:
x=5
while x>=1:
    y=x
    while y>=1:
        print(y,end='')
        y=y-1
    print('\n')
    x=x-1

54321

4321

321

21

1

In [ ]:
#j
#1
#3 2
#6 5 4
#10 9 8 7

In [2]:
x=1
c=1
while x<=4:
    y=1
    c=c+x
    while y<=x:
        print(c-y,end='')
        y=y+1
    print('\n')
    x=x+1

1

32

654

10987

In [ ]:
#k

#          1 
#        1 2 
#      1 2 3 
#    1 2 3 4 
#  1 2 3 4 5

In [5]:
x=1
while x<=5:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print(y,end='')
        y=y+1
    print('\n')
    x=x+1

    1

   12

  123

 1234

12345

In [ ]:
#m

#1 2 3 4 5 
#2 2 3 4 5 
#3 3 3 4 5 
#4 4 4 4 5 
#5 5 5 5 5

In [53]:
x=1
while x<=5:
    y=1
    while y<=5:
        if y<x:
            print(x,end='')
        else:
            print(y,end='')
        y=y+1
    print('\n')
    x=x+1

12345

22345

33345

44445

55555

In [ ]:
#n
#1  
#2  4  
#3  6  9  
#4  8  12  16  
#5  10  15  20  25  
#6  12  18  24  30  36  
#7  14  21  28  35  42  49  
#8  16  24  32  40  48  56  64

In [7]:
x=1
while x<=8:
    y=1
    while y<=x:
        print(x*y,end=' ')
        y=y+1
    print('\n')
    x=x+1

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

6 12 18 24 30 36

7 14 21 28 35 42 49

8 16 24 32 40 48 56 64

In [ ]:
#o
#* 
#* * 
#* * * 
#* * * * 
#* * * * *

In [15]:
x=1
while x<=5:
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1

*

* *

* * *

* * * *

* * * * *

In [ ]:
#p
#        * 
#      * * 
#    * * * 
#  * * * * 
#* * * * *

In [16]:
x=1
while x<=5:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end='')
        y=y+1
    print('\n')
    x=x+1

    *

   **

  ***

 ****

*****

In [ ]:
#q
#* * * * *  
#* * * *  
#* * *  
#* *  
#*

In [21]:
x=5
while x>=1:
    y=1
    while y<=x:
        print('*',end='')
        y=y+1
    print('\n')
    x=x-1

*****

****

***

**

*

In [ ]:
#r
#* * * * * * 
 #* * * * * 
  #* * * * 
   #* * * 
    #* * 
     #*

In [26]:
x=5
while x>=1:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x-1

* * * * *

 * * * *

  * * *

   * *

    *

In [27]:
#s
#*****
 #****
  #***
  # **
    #*

In [8]:
x=5
while x>=1:
    c=5-x
    print(' '*c,end=' ')
    y=1
    while y<=x:
        print('*',end='')
        y=y+1
    print('\n')
    x=x-1

 *****

  ****

   ***

    **

     *

In [ ]:
#t
#            *   
#           *  *   
#          *  *  *   
#         *  *  *  *   
#        *  *  *  *  *   
#       *  *  *  *  *  *   
#      *  *  *  *  *  *  *

In [6]:
x=1
while x<=7:
    c=7-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1

      *

     * *

    * * *

   * * * *

  * * * * *

 * * * * * *

* * * * * * *

In [ ]:
#q
#*  
#* *  
#* * *  
#* * * *  
#* * * * *  
#* * * * * *  
 
#* * * * * *  
#* * * * *  
#* * * *  
#* * *  
#* *  
#*

In [4]:
x=1
while x<=5:
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1
print('     ')
x=5
while x>=1:
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x-1

*

* *

* * *

* * * *

* * * * *


* * * * *

* * * *

* * *

* *

*

In [ ]:
#r
#* 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#*

In [15]:
x=1
while x<=5:
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1
x=4
while x>=1:
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x-1

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
#s
#       * 
#      * * 
#    * * * 
#  * * * * 
#* * * * * 
#  * * * * 
#    * * * 
#      * * 
#        *

In [14]:
x=1
while x<=5:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end='')
        y=y+1
    print('\n')
    x=x+1
x=4
while x>=1:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end='')
        y=y+1
    print('\n')
    x=x-1

    *

   **

  ***

 ****

*****

 ****

  ***

   **

    *

In [ ]:
#t
#* * * * * 
#* * * * 
# * * * 
#  * * 
#   * 
#   * 
#  * * 
# * * * 
#* * * * 
#* * * * *

In [22]:
x=5
while x>=1:
    c=5-x
    print(' '*c,end=' ')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x-1
x=1
while x<=5:
    c=5-x
    print(' '*c,end=' ')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1

 * * * * *

  * * * *

   * * *

    * *

     *

     *

    * *

   * * *

  * * * *

 * * * * *

In [ ]:
#u
        * 
       * * 
      * * * 
     * * * * 
    * * * * * 
   * * * * * * 
    * * * * * 
     * * * * 
      * * * 
       * * 
        *

In [29]:
x=1
while x<=5:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x+1
x=5
while x>=1:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        print('*',end=' ')
        y=y+1
    print('\n')
    x=x-1

    *

   * *

  * * *

 * * * *

* * * * *

* * * * *

 * * * *

  * * *

   * *

    *

In [ ]:
#v

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [47]:
x=1
while x<=5:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        if y==1 or y==x:
            print("*",end=" ")
        else:
            print(" ",end=" ")
        y=y+1
    print('\n')
    x=x+1
x=5
while x>=1:
    c=5-x
    print(' '*c,end='')
    y=1
    while y<=x:
        if y==1 or y==x:
            print('*',end=' ')
        else:
            print(' ',end=' ')
        y=y+1
    print('\n')
    x=x-1

    *

   * *

  *   *

 *     *

*       *

*       *

 *     *

  *   *

   * *

    *